In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Rudra\Desktop\english-odia-spelling-practice\data\animals.csv")

In [4]:
df

    english   odia
0       Dog  କୁକୁର
1       Cat  ବିଲେଇ
2       Cow    ଗାଈ
3   Buffalo   ମହିଷ
4      Goat   ଛେଳି
5     Horse   ଘୋଡା
6  Elephant   ହାତୀ
7      Lion   ସିଂହ
8     Tiger    ବାଘ
9    Monkey   ବାନର

In [22]:
np.random.randint(df.shape[0])

6

In [24]:
df.iloc[6]['english']

'Elephant'

In [25]:
def get_random(df):
    idx = np.random.randint(df.shape[0])
    english = df.iloc[idx]['english']
    odia = df.iloc[idx]['odia']
    return english, odia

In [27]:
eng, od = get_random(df)

In [28]:
eng

'Cat'

In [29]:
od

'ବିଲେଇ'